.main-reg {
    height: 100vh;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-color: rgba(40, 21, 166, 0.3);
    background-blend-mode: color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg-box {
    color: white;
    height: 90vh;
    background-color: rgba(60, 4, 95, 0.3);
    box-shadow: 1px 1px 1px 1px rgb(51, 45, 45);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    backdrop-filter: blur(20px);
}

.reg-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.reg-input {
    width: 100%;
    text-align: start;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.reg-input input {
    width: 40vw;
    height: 5vh;
    color: black;
}

.reg-input input::-webkit-file-upload-button {
    border: none;
    background-color: rgba(60, 4, 95, 0.6) !important;
    border-radius: 15px;
    box-shadow: inset 0px 5px 10px black;
    cursor: pointer;
    transition: all 0.5s linear;
}

.reg-input input::-webkit-file-upload-button:hover {
    background: linear-gradient(to bottom, rgb(34, 0, 34), rgb(44, 18, 56), rgb(113, 5, 113));
    color: white;
}